Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -clang-analyzer-optin.performance.Padding
WarningsAsErrors: '*'
HeaderFilterRegex: 'core/(include|src)/.*'
